---
import Layout from "../layouts/Layout.astro";
import { getUsers } from '../lib/cosmic'

const users = await getUsers()

---





<Layout title="Welcome to Astro.">

<div style="color: aliceblue;">
    Hello world
</div>
<div style="color: aliceblue;">{users}</div>

<button id="myButton" type="button">
    Tryi
</button>


<form id="myForm">
    <label for="textInput">Enter text:</label>
    <input type="text" id="textInput" name="userText">
    <br>
    <input type="submit" value="Submit">
  </form>
</Layout>

<script>
    // Get a reference to the button element using its ID
    var button = document.getElementById('myButton');
  
    // Add an onclick event handler to the button
    button.onclick = function() {
      // This function will be executed when the button is clicked
    //   alert('Button was clicked!');
      window.location.href='/tracking';
      // You can perform any action or call any function here
    };

     // Get a reference to the form element
  var form = document.getElementById('myForm');

// Add submit event listener to the form
form.addEventListener('submit', function(event) {
  // Prevent the default form submission
  event.preventDefault();

  // Get the value entered in the text input field
  var userInput = document.getElementById('textInput').value;

  // Alert the value entered by the user
  alert('You entered: ' + userInput);
});
  </script>